<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PartyBrandMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_PARTYBRAND(
			BRANDNAME,	
			BRANDPERSON,	
			BRANDTIME,	
			BRANDINTRODUCE,	
			BRANDREMARKS,	
			CURRENTLYUSERS,	
			PARTYBRAND_ID
		) values (
			#{BRANDNAME},	
			#{BRANDPERSON},	
			#{BRANDTIME},	
			#{BRANDINTRODUCE},	
			#{BRANDREMARKS},	
			#{CURRENTLYUSERS},	
			#{PARTYBRAND_ID}
		)
	</insert>
	
	<!-- 根据id查询品牌文档真实名称 -->
		<select id="findIntroduceById" parameterType="pd" resultType="string">
		select 
	 BRANDINTRODUCE2
		from 
			TB_PARTYBRAND
		where 
			PARTYBRAND_ID = #{PARTYBRAND_ID}
	</select>
	
		<!-- 根据id查询品牌文档名称 -->
		<select id="findOringalIntroduceById" parameterType="pd" resultType="string">
		select 
	 BRANDINTRODUCE
		from 
			TB_PARTYBRAND
		where 
			PARTYBRAND_ID = #{PARTYBRAND_ID}
	</select>
	
		<!-- 根据id查询品牌备注 -->
		<select id="findMaskById" parameterType="pd" resultType="string">
		select 
	 BRANDREMARKS
		from 
			TB_PARTYBRAND
		where 
			PARTYBRAND_ID = #{PARTYBRAND_ID}
	</select>
	
	<!-- 根据品牌名称进行模糊查询 -->
		<select id="NameSelectMapper" parameterType="string" resultType="pd">
		select 
				a.BRANDNAME,	
				a.BRANDPERSON,	
				a.BRANDTIME,	
				a.BRANDINTRODUCE,	
				a.BRANDREMARKS,	
				a.CURRENTLYUSERS,	
				a.SUBMISSIONTIME,	
				a.PARTYBRAND_ID
		from 
				TB_PARTYBRAND a
		where 
			a.BRANDNAME like CONCAT('%','${value}','%' )
	</select>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_PARTYBRAND
		where 
			PARTYBRAND_ID = #{PARTYBRAND_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_PARTYBRAND
			set 
				BRANDNAME = #{BRANDNAME},
				BRANDPERSON = #{BRANDPERSON},
				BRANDTIME = #{BRANDTIME},
				BRANDREMARKS = #{BRANDREMARKS},
				CURRENTLYUSERS = #{CURRENTLYUSERS},
			PARTYBRAND_ID = PARTYBRAND_ID
			where 
				PARTYBRAND_ID = #{PARTYBRAND_ID}
	</update>
	
	<!-- 修改党建附件名称 -->
	<update id="editIntroduce" parameterType="pd">
		update  TB_PARTYBRAND
			set 
				BRANDINTRODUCE = #{BRANDINTRODUCE},BRANDINTRODUCE2 = #{BRANDINTRODUCE2}
			where 
				PARTYBRAND_ID = #{PARTYBRAND_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			BRANDNAME,	
			BRANDPERSON,	
			BRANDTIME,	
			BRANDINTRODUCE,	
			BRANDREMARKS,	
			CURRENTLYUSERS,	
			SUBMISSIONTIME,	
			PARTYBRAND_ID
		from 
			TB_PARTYBRAND
		where 
			PARTYBRAND_ID = #{PARTYBRAND_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.BRANDNAME,	
				a.BRANDPERSON,	
				a.BRANDTIME,	
				a.BRANDINTRODUCE,	
				a.BRANDREMARKS,	
				a.CURRENTLYUSERS,	
				a.SUBMISSIONTIME,	
				a.PARTYBRAND_ID
		from 
				TB_PARTYBRAND a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.BRANDNAME,	
				a.BRANDPERSON,	
				a.BRANDTIME,	
				a.BRANDINTRODUCE,	
				a.BRANDREMARKS,	
				a.CURRENTLYUSERS,	
				a.SUBMISSIONTIME,	
				a.PARTYBRAND_ID
		from 
				TB_PARTYBRAND a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_PARTYBRAND
		where 
			PARTYBRAND_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>